
@use '../abstracts/colours' as *;

.followers {
	position: relative;
	border-radius: 0.25rem;
	padding: 2rem;
	text-align: center;
	overflow: auto;

	h3 {
		font-size: 3.25rem;
		margin-top: 1.5rem;
		margin-bottom: 0.1rem;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 0.25rem;
	}

	&--dark-theme {
		background-color: $dark-desaturated-blue;
	}

	&--light-theme {
		background-color: $light-greyish-blue;
	}

	&--facebook::before {
		background-color: $facebook;
	}

	&--twitter::before {
		background-color: $twitter;
	}

	&--instagram::before {
		background: $instagram-1;
		background: $instagram-gradient;
	}

	&--youtube::before {
		background-color: $youtube;
	}

	&__platform {
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			margin: 0;
			margin-left: 0.5rem;
		}
	}

	&__subtext {
		text-transform: uppercase;
		letter-spacing: 4px;
		margin: 0;
	}
}