
@use '../abstracts/colours' as *;

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2rem;
	height: 100vh;
	background-color: transparent;
	// z-index: -2;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -2;
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 20rem;
		background-color: $very-dark-blue-top-bg;
		border-bottom-left-radius: 2rem;
		border-bottom-right-radius: 2rem;
		z-index: -1;
	}

	&--dark-theme {
		&::before {
			background-color: $very-dark-blue-bg;
		}
	}

	&--light-theme {
		&::before {
			background-color: $white;
		}

		&::after {
			display: none;
		}
	}
}